player-connection-mode=Listen
player-connection-guid=3725449850
player-connection-debug=0
player-connection-project-name=Testing AR
player-connection-ip=192.168.1.253
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=22c67f708ed74040a07494e9c1481055
